<footer class="footer flex">
    <div id="spring-links flex smallest antialiased">
      <div class="copyright_level1">Copyright © 2005 - <script>var d = new Date();document.write(d.getFullYear());</script> PSI SE. All Rights Reserved.<br/></div>
      <div class="copyright_level2">This page was built using the Antora PSI UI. The <a href="https://github.com/PSI-Polska/antora-ui-psi">source code</a> for this UI is licensed under the terms of the MPL-2.0 license.<br/></div>
    </div>
</footer>
