<div class="context">
  <span class="title"><a href="index.html">{{page.component.title}}</a></span>
  <span class="version">{{page.componentVersion.displayVersion}}</span>
  <button class="browse-version" id="browse-version"></button>
</div>
